/* Import local Hellovetica font */
@font-face {
    font-family: "Hellovetica";
    src: url('../assets/fonts/hellovetica.ttf') format('ttf');
}

/* Import local Superscript font */
@font-face {
    font-family: "Superscript";
    src: url('../assets/fonts/SUPERSCR.TTF') format('ttf');
}

/* Style the header */
.header {
    background-color: #00aa0e;
    overflow: hidden;
    padding: 25px 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

/* Style all header links */
.header a {
    font-size: 12pt;
    text-decoration: none;
    color: #005908;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
    margin: 5pt;
}

/* Style header links on hover */
.header a:hover {
    background-color: #005908;
    color: white;
}

/* Active links in header */
.header a.active {
    background-color: #00840a;
    color: white;
}

/* Style the navigation */
.navigation {
    float: right;
    position: relative;
    top: 13px;
}

/* Styling for the site title */
.site-title {
    float: left;
    font-family: 'Superscript';
    font-size: 36pt;
}

/* body styling */
body {
    background-color: #f4f4f4;
    font-family: 'Hellovetica';
    color: white;
    text-align: center;
    
}

/* Styling the content */
#content {
    text-align: center;
}

#game {
    padding-top: 10px;
}